.container {
  .containerSecond,
  .containerThird {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      border-radius: 20px;
      border: 2px solid grey;
      margin: 0.5rem;

      .cardContent {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;

        h1 {
          min-width: 9rem;
          text-align: left;

          @media (max-width: 650px) {
            min-width: 10rem;
          }
        }

        .avatar {
          margin-left: 0.7rem;
        }
      }
    }
  }
}
