.actionContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid grey;
  border-radius: 20px;
  max-height: 300px;
  margin-top: 0.4rem;
  padding: 1rem;

  .benefits {
    list-style-type: none;

    .item {
      font-style: italic;
      padding-bottom: 0.5rem;
    }
  }

  @media (max-width: 893px) {
    max-width: 30rem;
    padding: 0 1rem;
    text-align: center;

    button {
      display: none;
    }
  }
}
