.actionContainer {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .actionText {
    background-color: rgba(177, 205, 248, 0.696);
    font-weight: 700;
  }

  @media (max-width: 893px) {
    max-width: 30rem;
    padding: 0 1rem;
    text-align: center;

    .actionText {
      background-color: transparent;
    }

    button {
      display: none;
    }
  }
}
