.mainContainer {
  min-height: 80vh;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  object-fit: none;

  .bg {
    object-fit: cover;
  }

  .info {
    z-index: 2;
  }
}
