.mainContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  object-fit: none;
  color: white;
  text-shadow: 2px 2px 8px #0000009c;

  .h1 {
    z-index: 2;
    padding: 1rem;
    text-shadow: 2px 2px 8px #423b3b66;
  }

  .info {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
  }
}
