.playContainer {
  .containerSecond,
  .containerThird {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      border-radius: 20px;
      border: 2px solid grey;
      margin: 0.5rem;
      background-color: rgb(135, 207, 235);

      .cardContent {
        padding: 0.9rem;
        display: flex;
        flex-direction: column;

        h2 {
          min-width: 9rem;
          text-align: left;
          font-size: 1rem;
          font-weight: 400;

          @media (max-width: 650px) {
            min-width: 10rem;
          }
        }

        .avatar {
          margin-left: 0.7rem;
        }
      }
    }
  }
}
