.playContainer {
  .containerSecond,
  .containerThird {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      border-radius: 20px;
      border: 2px solid #5090d3;
      margin: 0.5rem;
      background-color: #132f4c;

      .cardContent {
        padding: 1.4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
          min-width: 9rem;
          text-align: left;
          font-size: 1.2rem;
          font-weight: 600;

          @media (max-width: 650px) {
            min-width: 10rem;
          }
        }

        .avatar {
          margin-left: 0.7rem;
        }
      }
    }
  }
}
