.clientsChoiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #001e3c;

  .h2 {
    padding: 1.5rem 0;
    text-align: center;
  }
}

.playContainer {
  .containerSecond,
  .containerThird {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      border-radius: 2px;
      margin: 0.3rem;
      background-color: #132f4c;
      min-width: 400px;
      max-height: 500px;

      .cardContent {
        padding: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;

        h3 {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
        }

        .explanation {
          max-width: 18rem;
          text-align: center;
        }
      }
    }
  }
}
