.reviewsContainer {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  height: 328px;
  margin-top: 0.5rem;
  padding: 1.3rem;
  gap: 0.8rem;

  border-radius: 20px;
  border: 1px solid #5090d3;
  background-color: #132f4c;

  @media (max-width: 1024px) {
    max-width: 400px;
    height: auto;
  }

  .nav {
    display: flex;
    justify-content: space-between;

    .h2 {
      font-size: 1.8rem;
    }
  }

  .btns {
    display: flex;
    gap: 1.3rem;
    margin-right: 1rem;

    button {
      padding: 0.5rem;
      border-radius: 12px;
    }
  }

  .person {
    display: flex;
    gap: 1rem;
    align-items: center;

    .avatar {
      border-radius: 50%;
    }

    .avatarName {
      font-size: 1.3rem;
    }
  }

  .btnCall {
    margin-top: auto;
  }
}
