.reviewsContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 20px;
  height: 330px;
  margin-top: 0.5rem;
  padding: 1.2rem;

  .nav {
    display: flex;
    justify-content: flex-end;
  }

  .btnCall {
    margin-top: auto;
  }

  @media (max-width: 893px) {
    max-width: 30rem;
    padding: 0 1rem;
    text-align: center;

    button {
      display: none;
    }
  }
}
